# This is an example .env file. Copy this to .env and fill in the values.
#API settings
GROQ_API_KEY = 
LLM_MODEL = 
LLM_MAX_TOKENS = 

JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

REDIS_HOST=
REDIS_PORT= 
REDIS_DB=
REDIS_PASSWORD=
REDIS_USERNAME=
#MongoDB Configurations
MONGODB_URI=
MONGODB_DB=

LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=